/*** VARIABLES ***/
/* Colors */
$black: #262a2b;
$grey: #b7b7b7;
/* Tile Border */
$green: #7dda54;
$yellow: #ffc500;

body {
  background: $black;
}

.heading {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #7dda54, 0px 0px 10px #7dda54, 0px 0px 10px #7dda54,
  0px 0px 20px #7dda54;
}

.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
}

.tilesWrap a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.tilesWrap li {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  max-width: 230px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  font-family: 'helvetica', san-serif;
  min-height: 25vh;
  background: $black;
  border: 1px solid #252727;
  text-align: left;
}

.tilesWrap li h2 {
  font-size: 114px;
  margin: 0;
  position: absolute;
  opacity: 0.2;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}

.tilesWrap li h3 {
  font-size: 20px;
  color: $grey;
  margin-bottom: 5px;
}

.tilesWrap li h4 {
  font-size: 15px;
  color: $grey;
  margin-top: 5px;
}

.tilesWrap li p {
  font-size: 16px;
  line-height: 18px;
  color: $grey;
  margin-top: 5px;
}
.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.6;
}
.tilesWrap li:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}

.tilesWrap li:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}

.tilesWrap li:before {
  background: $yellow;
  background: -webkit-linear-gradient(to right, $green, $yellow);
  background: linear-gradient(to right, $green, $yellow);
}
